@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  margin: 1rem;
  text-align: center;

  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;

  gap: 2rem;
  padding: 0 1rem;
}
.site-title {
  font-size: 2rem;
  font-weight: 600;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  text-decoration: none;
  color: #fff;
}
.nav li-hover {
  background-color: #777;
}
.nav li-active {
  background-color: #555;
}
.active-link {
  color: red !important;
}
